body {
    background-color: rgb(188, 252, 247);
}

h2 {
    margin-top: 12px;
    margin-bottom: 24px;
}

.btn {
    margin-top: 12px;
}

.form-control {
    max-width: 400px;
}

.post {
    margin-bottom: 12px;
}